{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APIBLOG</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
  </head>
  <body>
    <h1>WELCOME TO MY RANDOM API BLOG</h1>
    <hr/>
    <br/>
    <form method='POST'>
      {% csrf_token %}
      <input type='text' placeholder= 'Search image' name='image'/>
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
  <h2>Random images for you</h2>
    <img src= "https://source.unsplash.com/1600x900/?{{ image }}"/>

     <br/>
    <hr/>
    <h3>🌹💖Here are the random facts and activities,Please dont be Bored Again😘🤞</h3>
    <hr/>
      <br/>
    <div class="container">
    <div class= "facts"> 
    <h4> Fact</h4>
    <p>{{ fact }}</p>
    </div>
    <div class= "facts">
    <h4> Bored?</h4>
    <p>{{ activity }}</p>
    </div> 
      
    <div class= "facts">
    <h4> Truth </h4>
    <p>{{ truth }},<br/><br/> 👌 KNOW THE AUTHOR TO👇<br/><br/>{{ author}}</p> 
        </div>
    </div>
    <br/>
    <hr/>
 <h3>❤💖😊RANDOM PICTURES FOR 💞 YOUR FAVORITE PETS🐹🐶</h3>
    
   <hr/>
    <div class="jane">
    <div class= "photo">
    <h4> Dog </h4>
    <img src="{{ dog }}" /> 
    </div> 
    <div class = "photo">
    <h4>cat</h4>  
    <img src= "{{ cat }}" />
      </div>
  </div>
  </body>
</html>